node_modules/

# ------------------------------
# Build
# ------------------------------
bin/
obj/

# ------------------------------
# Rider / VSCode / Visual Studio
# ------------------------------
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# ------------------------------
# Node
# ------------------------------
node_modules/
dist/
build/

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Environment
# ------------------------------
.env
.env.*

# ------------------------------
# Testes
# ------------------------------
TestResults/
CoverageReport/
coverage/
coverage-report/
*.coverage
coverage.cobertura.xml

# ------------------------------
# Docker
# ------------------------------
.docker/

# ------------------------------
# OS
# ------------------------------
.DS_Store
Thumbs.db
